<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>eletronicFactory</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>VisitServlet</display-name>
    <servlet-name>VisitServlet</servlet-name>
    <servlet-class>com.pctc.controller.VisitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisitServlet</servlet-name>
    <url-pattern>/servlet/VisitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApartmentServlet</display-name>
    <servlet-name>ApartmentServlet</servlet-name>
    <servlet-class>com.pctc.controller.ApartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApartmentServlet</servlet-name>
    <url-pattern>/servlet/ApartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilesAllServlet</display-name>
    <servlet-name>FilesAllServlet</servlet-name>
    <servlet-class>com.pctc.controller.FilesAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilesAllServlet</servlet-name>
    <url-pattern>/servlet/FilesAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.pctc.controller.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LendServlet</display-name>
    <servlet-name>LendServlet</servlet-name>
    <servlet-class>com.pctc.controller.LendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LendServlet</servlet-name>
    <url-pattern>/servlet/LendServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.pctc.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffServlet</display-name>
    <servlet-name>StaffServlet</servlet-name>
    <servlet-class>com.pctc.controller.StaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffServlet</servlet-name>
    <url-pattern>/servlet/StaffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadListServlet</display-name>
    <servlet-name>UploadListServlet</servlet-name>
    <servlet-class>com.pctc.controller.UploadListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadListServlet</servlet-name>
    <url-pattern>/servlet/UploadListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.pctc.controller.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/servlet/UploadServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Utf8Filter</display-name>
    <filter-name>Utf8Filter</filter-name>
    <filter-class>com.pctc.filter.Utf8Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Utf8Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>GrantFilter</display-name>
    <filter-name>GrantFilter</filter-name>
    <filter-class>com.pctc.filter.GrantFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GrantFilter</filter-name>
    <url-pattern>/servlet/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.pctc.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/index.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>VisitFilter</display-name>
    <filter-name>VisitFilter</filter-name>
    <filter-class>com.pctc.filter.VisitFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>VisitFilter</filter-name>
    <url-pattern>/servlet/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.pctc.controller.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/servlet/DownloadServlet</url-pattern>
  </servlet-mapping>
</web-app>